h1{
    text-align: center;
}

#contenedorEncabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    align-content: space-between;
}

#txtbuscar{
    order:3;
    align-self: flex-end;
}

#txtAgregar{
    order:0;
}

.camposTexto{
    border-bottom: 2px solid;
    border-color: lightsteelblue;
}

.camposTexto::placeholder{
    font-style: italic;
}

.camposTexto:hover{
    border-color: blue;
}

.camposText:active{
    border-color: darkblue;
}

#contenedorTareas{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#contenedorTareasPendientes{
    align-content: flex-start;
}

#contenedorTareasCompletadas{
    align-self: flex-end;
}

.listaTarea{
    border-radius: 10px;
    background-color: darkslategray;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}






