h1 {
    text-align: center;
}

#contenedorEncabezado {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-inline-end: 45px;
    margin-inline-start: 45px;
}

#contenedorCampoTextoAgregar,
#contenedorCampoTextoBuscar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: nowrap;
}

.camposTexto {
    border-bottom: 2px solid lightskyblue;
    outline: none;
    
    /* elimina contorno azul predeterminado */
    border-top: none;
    border-left: none;
    border-right: none;
    width: 250px;
}

.camposTexto::placeholder {
    font-style: italic;
}

.camposTexto:hover~#imgAgregar,
.camposTexto:hover~#imgBuscar {
    border-color: blue;
}

.camposTexto:hover {
    border-color: blue;
}

.camposTexto:focus {
    border-color: darkblue;
}

.camposTexto:focus~#btnAgregar,
.camposTexto:focus~#btnBuscar {
    border-color: darkblue;
}

#contenedorTareasPendientes {
    align-content: flex-start;
}

#contenedorTareasCompletadas {
    align-self: flex-end;
}

#contenedorTareas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100vw;
    padding-block: 30px;
    padding-inline: 30px;
}

.listaTarea {
    background-color: cadetblue;
    width: 45%;
    height: 40vw;
    border-radius: 1em;
    padding-block: 1em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: top;
    flex-wrap: nowrap;
    align-content: stretch;
}

#contenedorTareasPendientes {
    align-self: stretch;
}

#contenedorTareasCompletadas {
    align-self: stretch;
}

.tarea {
    align-self: top;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    border-block: 1px solid black;
    margin-block: 5px; 
    padding-block: 5px;
}

.textoTarea {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: solid 2px black;
}

.textoTarea:read-only {
    color: black;
    border: none;
}

.textoTarea:read-write {
    color: black;
    border-bottom: 2px solid black; 
}

input[type="checkBox"] {
    cursor: pointer;
}

.botones {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.botones:hover {
    transition: 700ms;
}

.btnEditar:hover {
    color: darkblue;
}

.btnEliminar:hover {
    color: red;
}

#btnAgregar:hover {
    color: green;
}

#btnBuscar {
    align-self: flex-end;
}

#btnLimpiar{
    position: absolute;
    left: 42vw;
    margin-top:5px;
    rotate: 195deg;
}

#btnLimpiar:hover{
    color:firebrick;
}