h1 {
    text-align: center;
}

#contenedorEncabezado {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-inline: 100px;
}

#contenedorCampoTextoAgregar,
#contenedorCampoTextoBuscar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: nowrap;
}

.camposTexto {
    border-bottom: 2px solid lightskyblue;
    outline: none;
    /* elimina contorno azul predeterminado */
    border-top: none;
    border-left: none;
    border-right: none;
    width: 300px;
}

.camposTexto::placeholder {
    font-style: italic;
}

.camposTexto:hover~#imgAgregar,
.camposTexto:hover~#imgBuscar {
    border-color: blue;
}

.camposTexto:hover {
    border-color: blue;
}

.camposTexto:focus {
    border-color: darkblue;
}

.camposTexto:focus~#imgAgregar,
.camposTexto:focus~#imgBuscar {
    border-color: darkblue;
}

#imgAgregar {
    align-self: flex-end;
    border-bottom: 2px solid lightskyblue;
}

#contenedorTareas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#contenedorTareasPendientes {
    align-content: flex-start;
}

#contenedorTareasCompletadas {
    align-self: flex-end;
}


#imgBuscar {
    align-self: flex-end;
}

#contenedorTareas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 320px;
    padding-block: 30px;
    padding-inline: 30px;
}

.listaTarea {
    background-color: cadetblue;
    width: 300px;
    height: 40vw;
    border-radius: 1em;
    padding-block: 1em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

#contenedorTareasPendientes {
    align-self: flex-start;
}

#contenedorTareasCompletadas {
    align-self: flex-end;
}

.tarea {
    align-self: top;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: cneter;
    border-block: 1px solid black;
    margin-block: 5px;
    padding-block: 10px;
}

.textoTarea {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: solid 2px black;
}

.textoTarea:disabled {
    opacity: 0.4;
    color: darkgrey;
}

.textTarea:enabled {
    color: black;
    opacity: 1;
}

#chbChecar {
    cursor: pointer;
}

.botones{
    background-color: transparent;
    border:none;
    outline: none;
    cursor: pointer;
}

.botones:hover{
    transition: 700ms;
    color:green;
}

#btnEditar:hover{
    color: darkblue;
}

#btnEliminar:hover{
    color: red;
}